body {
  background-color: #3a99fa;
  font-family: Inter, sans-serif;
}

.app-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.app-header {
  text-align: center;
  color: white;
}
