.guest-list__container {
  width: 1200px;
}

.guest-card__container {
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
  transition: transform 0.2s !important;

  &:hover {
    transform: scale(1.01);
  }
}

.guest-summary__container {
  display: grid;
  justify-content: space-between;
  align-items: flex-end;
  grid-template-columns: 1fr 1fr 2fr;

  p {
    margin: 0;
  }
}

.guest-name {
  font-size: 24px;
  margin: 0;
}

.guest-email {
  font-style: italic;
}

.guest-plus-one__container {
  align-self: flex-start;

  .guest-name::before {
    content: "+1: ";
    margin-left: -2.6rem;
  }
}

.guest-confirmed {
  justify-self: flex-end;
  align-self: center;
}

.yes {
  color: green;
}

.no {
  color: red;
}

.guest-actions__container {
  display: flex;
  flex-direction: column;

  .common-button {
    font-size: 14px;
    margin: 16px 32px;
  }
}

.error-toast {
  background-color: white;
  padding: 16px 32px;
}
