.guest-card__container {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  margin-bottom: 16px;
  max-width: 900px;
  // box-shadow: #dedede 1px 1px 4px 2px;
}

.guest-name {
  font-size: 24px;
}

.guest-confirmed {
  color: green;
}

.guest-not-confirmed {
  color: red;
}

.guest-actions__container {
  display: flex;
  flex-direction: column;

  .common-button {
    font-size: 14px;
    margin: 16px 32px;
  }
}

.error-toast {
  background-color: white;
  padding: 16px 32px;
}
